# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Large Model Files
*.pkl
*.h5
*.joblib